#root {
  max-width: 1100px;
  margin: 0px auto;
}

/* * {
  border: 1px solid black;
} */


#image-view {
  display: flex;
  flex-direction: row;
  height: 800px;
  width: 100%;
}

#image-view-main-image {
  height: 100%;
  width: 75%;
}

#image-view-carousel {
  position: relative;
  height: 100%;
  width: 25%;
  overflow: hidden;
}

#image-view-thumbnails-container {
  width: 100%;
}

.image-view-carousel-controls{
  z-index: 1000;
  position: absolute;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  background-size: 100%;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
}

#prev-thumbnails {
  top: 10px;
}


#next-thumbnails {
  bottom: 10px;
}

.thumbnail-image {
  width: 100%;
}

.placeholder-thumbnail-image {
  height: 100%;
  width: 100%;
}

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.question-modal {
  position: fixed; /* Stay in place */
  box-sizing: border-box;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.question-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  /* height: 550px; */
  width: 40%; /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
}

.submit-modal {
  bottom: 5%;
}

.close-modal {
  margin-left: auto;
}

label {
  display: block;
}

.modal-form-input {
  width: 95%;
}


.wrapper {
  position: relative;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: row;
  min-height: 500px;
  border: 2px solid rgb(189, 189, 189);
  margin: 40px;
  overflow: hidden;
}

.inner-box {
  display: flex;
  flex-direction: row;
}

#outfit-box {
  display: flex;
  flex-direction: column;
}

#add-outfit-button-image {
  margin: 10px auto;
}

#add-outfit-button {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
}

#add-outfit-button-text {
  width: 100%;
  text-align: center;
  margin: 5px auto;
}

.arrow {
  position: absolute;
  cursor: pointer;
  height: 100%;
  align-content: center;
  width: 40px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-y: center;
}

#left-arrow {
  left: 0px;
}

#right-arrow {
  right:0px;
}

.card {
  border: 2px solid rgb(189, 189, 189);
  padding: 5px;
  text-align: center;
}

.card-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.action-button {
  cursor: pointer;
  text-align: right;

}

.card-text {
  padding: 8px;
}

.comparison-modal {
  display: flex;
  flex-direction: column;
  text-align: center;
}


table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
}

th{
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
}

td {
  padding: 10px;
  border: 1px solid #ccc;
}


.checkmark {
  text-align: center;
}