#root {
  max-width: 1330px;
  margin: 50px auto;
  padding: 10px 0 10px 0;
  /* give me fonts that works great for a store*/
  font-family: 'Roboto', sans-serif;
}

#site-header{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 1px 1px rgb(197, 197, 197);
  color: rgb(93, 92, 92);
  padding: 10px 0 10px 25px;
  background-color: white;
  z-index: 2000;
}

#site-logo {
  display: flex;
  flex-direction: row;

}

#site-title {
  margin: auto 0 auto 10px;
}



/* * {
  border: 1px solid black;
} */



/* OVERVIEW SECTION VVVVVVV */

#overview {
  display: flex;
  flex-direction: row;
  height: 800px;
  overflow: visible;
}

#product-information {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  padding: 2% 5% 2% 5%;
}

#prod-info-header {
  height: 20%;
  display:flex;
  flex-direction: row;
}

#product-title {
  display: flex;
  flex-direction: column;
}

#product-name {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

#product-category, #amount-of-reviews {
  margin: 0 2%
}

#product-price-container {
  display: flex;
  flex-direction: row;
  margin: 0 2%;
}

#product-sale-price {
  color: red;
  margin-left: 25px;
}

#product-name, #product-category {
  height: 100%;
}

#prod-info-body {
  display: flex;
  justify-content: space-between;
  height: 60%;
}

#prod-info-footer {
  height: 20%;
  display:flex;
  flex-direction: column;
}

#prod-styles {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
}

#product-category-rating {
  display: flex;
  flex-direction: row;
}

#product-stars {
  position: relative;
  margin-left: auto;
  height: 25px;
  top: -5px;
}

#buy-product {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#buy-product > * {
  margin: 5% 2% 0 2%;
  height: 25px;
}

#styles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 5%;
}

.style-button {
  width: 21%;
  margin: 2%;
  height: 0px;
  padding-bottom: 20%;
  overflow: hidden;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
}

#share-social {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: right;
}

.share-button {
  height: 100%;
  width: auto;
}

#image-view {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
}

#image-view-main-image {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  cursor: zoom-in;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

#image-view-carousel {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  width: 100%;
}

#thumbnail-image-view {
  position: relative;
  height: 75px;
  width: 100%;
  overflow: hidden;
}

#thumbnails-container {
  position:absolute;
  display: flex;
  flex-direction: row;
}

.thumbnail-image {
  display: relative;
  width: 100px;
  height: 75px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.image-view-carousel-controls{
  height: 100%;
  width: 50px;
  margin: 0 10px;
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;;
  cursor: pointer;
  /* background-color: white; */
}

/* #prev-thumbnails {
  top: -50px;
}


#next-thumbnails {
  bottom: -50px;
} */


.thumbnail-checkmark {
  height: 25px;
  width: 25px;
  margin: 7px;
  float: right;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div[id*='thumbnail-checkmark-'] {
  display: none;
}

.placeholder-thumbnail-image {
  height: 100%;
  width: 100%;
}

#expanded-view-focus {
  position: fixed;
  top: 0px;
  right: 0px;
  display:flex;
  justify-content:center;
  align-items:center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
  z-index: 1000;
}

#expanded-image-container {
  position: relative;
  display:flex;
  justify-content:center;
  align-items:center;
  width:80%;
  max-width: 1600px;
  height:90%;
  margin: auto;
  background-color: white;
  cursor: default;
}

#expanded-image {
  position: relative;
  display:flex;
  justify-content:center;
  align-items:center;
  width:90%;
  height:90%;
  margin: auto;
  background-position: center;
  background-size: cover;
  cursor: zoom-in;
  overflow: hidden;
}

#close-expanded-view-button {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 0px;
  right: 0px;
  margin: 10px;
  line-height: 100%;
  cursor: pointer;
  background-size: auto 100%;
}

#magnifier {
  position: absolute;
  border-radius: 100%;
  background-color: red;
  background-repeat: no-repeat;
}

#zoomed-image {
  position: absolute;
  background-size:200%;
}

body.active-modal {
    overflow-y: hidden;
}

.main-questions-and-answers {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* OVERVIEW SECTION ^^^^^^ */




/* QUESTIONS AND ANSWERS VVVV */
.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.question-and-answer-modal {
  position: fixed; /* Stay in place */
  box-sizing: border-box;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
}

.close-modal {
  margin-left: auto;
}

label {
  display: block;
}

.modal-form-input {
  width: 95%;
}

.search-bar {
  padding: 10px;
  height: 50px;
  position: relative;
}

.search-bar-input {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  box-sizing: border-box;
}

.search-bar-icon {
  position: absolute;
  margin: 15px;
  right: 15px;
}

.question-list-entry {
  padding: 0px 10px 10px 10px;
}

.flex-container {
  display: flex;
  margin-bottom: 5px;
  padding: 1px;
}

.answer-list{
  margin-bottom: 20px;
}
.answer-list-entry {
  padding-top: 5px;
  margin-bottom: 3px;
}

.answer-list-entry-footer {
  margin-top: 10px;
  /* margin-bottom: 3px; */
}

.question-list-content {
  max-height: 600px;
  overflow-y: scroll;
  padding: 10px;
}

.answer-list-content {
  max-height: 300px;
  overflow-y: scroll;
}

.button {
  display: inline-block;
  background-color: transparent;
  text-align: center;
  border: 2px solid rgb(189, 189, 189);
  border-radius: 7px;
  box-shadow: 1px 1px 1px 1px rgb(197, 197, 197);
  color: rgb(93, 92, 92);
}

.load-more-questions-btn, .add-question-btn {
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
  border: 2px solid rgb(189, 189, 189);
  box-shadow: 5px 5px 1px 1px rgb(197, 197, 197);
  border-radius: 7px;
}

.question-list-entry-content {
  /* display: flex;
  flex-direction: column; */
  width: 100%;
}

.question-list-entry-sidebar {
  white-space: nowrap;
}

.load-more-answers-btn {
  padding: 8px 1px;
  margin-left: 21px;
}

.title {
  padding: 10px;
}

.question-list-buttons {
  padding: 0px 10px 10px 10px;
}

.small-font {
  font-size: 14px;
}

.smaller-font {
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
}

.bold-font {
  font-weight: bold;
}
/* QUESTIONS AND ANSWERS* ^^^^^^ /




/* Related Items & Outfit Creation VVVV */
.wrapper {
  position: relative;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  border: 2px solid rgb(189, 189, 189);
  margin: 40px;
  overflow: hidden;
  box-shadow: 10px 5px 8px 5px rgb(197, 197, 197);
  border-radius: 7px;
}

/* .card-stars {
  width: 25px;
} */

.inner-box {
  display: flex;
  flex-direction: row;
}

.arrow {
  position: absolute;
  cursor: pointer;
  height: 100%;
  align-content: center;
  width: 40px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-y: center;
}

#left-arrow {
  left: 0px;
}

#right-arrow {
  right:0px;
}

.sub-titles{
  color: rgb(93, 92, 92);
}

.card {
  border: 2px solid rgb(189, 189, 189);
  padding: 5px;
  text-align: center;
}

.card-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  cursor: pointer;
}

.action-button-div {
  text-align: right;

}

.action-button-click{
  cursor: pointer;

}

.card-text {
  padding: 8px;
  font-weight: bold;
}

.product-image {
  cursor: pointer;
}

.comparison-modal {
  display: flex;
  flex-direction: column;
  text-align: center;
}


table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
}

th{
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
}

td {
  padding: 10px;
  border: 1px solid #ccc;
}

.checkmark {
  text-align: center;
}

.sale-price-red-text {
  color: red;
  font-weight: bold;
}

.original-price-strike {
  text-decoration: line-through;
}

.default-price{
  padding: 23px;
}

#add-outfit-button-image {
  margin: 10px auto;
}

#add-outfit-button {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  box-shadow: 10px 5px 8px 5px rgb(197, 197, 197);
}

#add-outfit-button-text {
  width: 100%;
  text-align: center;
  margin: 5px auto;
}
/* Related Items & Outfit Creation ^^^^^  */



/* Ratings and Reviews vvv */
.review-list-content {
  max-height: 600px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.review {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  outline: 1px solid rgb(189, 189, 189);
  box-shadow: 2px 2px 1px 1px rgb(197, 197, 197);
  border-radius: 7px;

}

.review-modal {
  position: fixed;
  box-sizing: border-box;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

#add-review-btn, #load-more-reviews-btn {
  height: 50px;
  border: 2px solid rgb(189, 189, 189);
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
  box-shadow: 5px 5px 1px 1px rgb(197, 197, 197);
  border-radius: 7px;
}

.add-review, .load-more-reviews{
  display: inline-block;
}

.reviewer {
  padding-left: 8px;
}

.review-title {
  padding-left: 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.review-content {
  padding: 15px;
  border: 2px solid rgb(189, 189, 189);
  box-shadow: 5px 5px 1px 1px rgb(197, 197, 197);
  border-radius: 7px;
}

.review-entry-content {
  margin-left: 10px;
  font-weight: 500;
}

#add-helpfulness-btn {
  border: 0.5px solid;
}

.review-footer {
  margin-top: 10px;
  margin-left: 5px;
}

.review-body{
  padding: 5px;
  margin-bottom: 20px;
  outline: 1px solid rgb(189, 189, 189);
  box-shadow: 2px 2px 1px 1px rgb(197, 197, 197);
  border-radius: 7px;

}

.product-factors{
  padding: 15px;
  border: 2px solid rgb(189, 189, 189);
  border-radius: 7px;
  box-shadow: 2px 2px 1px 1px rgb(197, 197, 197);
}

#product-characteristics {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 15px 15px 15px;
  border: 2px solid rgb(189, 189, 189);
  box-shadow: 2px 2px 1px 1px rgb(197, 197, 197);
  border-radius: 7px;
}
/* Ratings and Reviews ^^^ */

