#root {
  max-width: 1100px;
  margin: 0px auto;
}

/* * {
  border: 1px solid black;
} */


#image-view {
  display: flex;
  flex-direction: row;
  height: 800px;
  width: 100%;
}

#image-view-main-image {
  height: 100%;
  width: 75%;
}

#image-view-carousel {
  position: relative;
  height: 100%;
  width: 25%;
  overflow: hidden;
}

#image-view-thumbnails-container {
  width: 100%;
}

.image-view-carousel-controls{
  z-index: 1000;
  position: absolute;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  background-size: 100%;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
}

#prev-thumbnails {
  top: 10px;
}


#next-thumbnails {
  bottom: 10px;
}

.thumbnail-image {
  width: 100%;
}

.placeholder-thumbnail-image {
  height: 100%;
  width: 100%;
}

.box {
  display: flex;
  justify-content: flex;
  align-items: center;
  height: 400px;
}


.wrapper {
  position: relative;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 400px;
  border: 2px solid rgb(189, 189, 189);
  margin: 25px;
  overflow: hidden;
}

.inner-box {
  display: flex;
  flex-direction: row;
}

.arrow {
  position: absolute;
  cursor: pointer;
}

#left-arrow {
  left: 0px;
}

#right-arrow {
  right:0px;
}

.card {
  border: 2px solid rgb(189, 189, 189);
}


.card-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card-text {
  padding: 10px;
}

